@import "bourbon";
@import "neat";
@import "../partials/_settings";
@import "../partials/_media-queries";
@import "../partials/_mixins";

$overlay-1: transparentize($yellow, .3);
$overlay-2: transparentize($bluegreen, .4);
$overlay-3: transparentize($darkred, .3);

/****************************
******** General  **********
****************************/
html{
    p{
        font-size: 13px;
    }
}
/****************************
*********** Hero  **********
****************************/

#homepage_hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease 0s;


    .textured_backdrop{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 20vh;
        background:{
            color: rgba(0,0,0,.3);
            image: repeating-linear-gradient(45deg, rgba(0,0,0,.15), rgba(0,0,0,0) 10px);
            repeat: repeat;
            size: contain;
            position: center;
        }
    }

    h1{
        margin: 0;
        color: white;
        text-transform: uppercase;
        text-shadow: $black 1px 2px 12px;

        font-size: 7vw;
        font-weight: 300;
        max-width: 80%;
    }
}

#video_container {
    overflow:hidden;
    transition: all 0.3s ease 0s;

    #fs_video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background-color:#fff;
        background-repeat:no-repeat;
        background-size: cover;
    }
}
#video_image {
    position:absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s ease 0s;
    background-size: cover;
}


/****************************
******** Callouts  **********
****************************/
.callouts{
    position: relative;
    margin: 0 auto;
    display: block;

    article{
        position: relative;
        // height: 250px;

        background-color: lighten(black, 27%);

        @include desktop{
            overflow: hidden;
            background-color: white;
        }

        h4{
            margin: 0;
            padding: 0;
        }
    }
}

.block {
    position: relative;
    display: block;
    cursor: pointer;
    height: auto;
    overflow: hidden;
    @include desktop{

        display: inline-block;
        margin-top: 3px;
        width: 33%;
    }

    .lower_third{
        position: absolute;
        left: 0;
        bottom: 1em;

        z-index: 1;
        @include desktop{

            bottom: 2em;
            width: 80%;

            background-color: rgba(255,255,255,.9);
        }
    }

    .lower_third-wrap{
        @include desktop{
            transform: skewX(-25deg);
        }
    }

    h3{
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 8px 21px 0px 35px;
        text-transform: uppercase;
        font-family: $font-bold-condensed;
        &:after{
            content:">";
            position: absolute;
            display: block;
            right: 0px;
            top: 50%;
            transform: translateY(-40%) rotate(90deg);

            @include desktop{
                transform: translateY(-40%) rotate(0deg);
            }

        }
    }

    .lower_third p{
        display: none;
        @include desktop{
            display: inherit;
            margin: 0;
            padding: 9px 0 8px 35px;
        }
    }

    &:hover .lower_third{
        @include desktop{
            background-color: rgba(202, 8, 20, .875);
            color: white;
        }
    }

    .btn{
        @include desktop{
            position: absolute;
            left: 23px;
            bottom: 21px;
            transform: skewX(-25deg);
        }
    }
}

.block.show {
    cursor: inherit;
    .lower_third-wrap {
        transform: skewX(0deg);
    }
}

.content-block,
.content-block_mobile{
    position: relative;
    left: 0;
    right: 0;

    background-color: lighten(black, 27%);
    color: white;

    transition: height 1s ease-in-out;

    @include desktop{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 33%;
        height: 100%;
        width: 72%;
        transform: skewX(25deg);
        opacity: 0;
        border-left: 4px solid white;
    }
    z-index: 100;

    .content-block_copy {
        position: relative;
        display: block;
        padding: 2em 1em;

        @include tablet{
            padding: 3em 6em;
        }

        @include desktop{
            position: absolute;
            top: 10%;
            // right: 0;
            bottom: 80px;
            left: 80px;
            width: 80%;
            padding: 0 3em 0 0;

            width: 670px;

            overflow: hidden;
            transform: skewX(-25deg);
        }
    }
    .close{
        position: absolute;
        top: 0px;
        right: 2em;
        padding: 1em;
        cursor: pointer;

        z-index: 500;

        @include desktop{
            transform: skewX(-25deg);
        }
    }
}

#angled_one,
#angled_two,
#angled_three{
    height: 130px;

    &:after{
        position: absolute;
        content: "";
        height: 100%;
        top: 0;
        left: -20%;
        right: -20%;
        bottom: 0;
        background:{
            size: cover;
            position: center;
            repeat: no-repeat;
        }

        @include desktop{
            transform: skewX(-25deg);
        }

        @media (max-width:959px){
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray;
        }
    }


    @include desktop{
        min-height: 282px;
        height: auto;
        transform: skewX(25deg);
    }

    .color_overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 1;

        @include desktop{
            display: none;
        }
    }
}

#angled_one .color_overlay{
    background-color: $overlay-1;
}
#angled_two .color_overlay{
    background-color: $overlay-2;
}
#angled_three .color_overlay{
    background-color: $overlay-3;
}

#angled_one.show,
#angled_two.show,
#angled_three.show{
    @include desktop{
        transform: skewX(0);
        &:after{
            position: absolute;
            content: "";
            height: 100%;
            width: 40%;
            top: 0;
            left: 0;
            transform: skewX(0);
        }
    }
}

// controls show/hide of .block
.show {
    @include desktop{
        width: 100%;
    }
}


.enter {
    display: inherit;
    opacity: 1;
    animation: show 230ms ease-in-out;
}

#mobile_one.enter,
#mobile_two.enter,
#mobile_three.enter{
    display: block;
}

.hidden {
    @include desktop{
        display: none;
    }
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: inherit;
    opacity: 0;
  }
  100% {
    display: inherit;
    opacity: 1;
  }
}

//end control of .block
.content-block_desktop{
    display: none;
    opacity: 0;

    .btn{
        margin: 1em 1em 2em;

        @include tablet{
            margin-left: 6em;
        }
    }

}

.content-block_desktop.show{
    display: block;
    opacity: 1;
    animation: show 230ms ease-in-out;
}


/****************************
****** Juicer feed  *********
****************************/

.social_feed{
    background-color: $lightgray;
    padding: 1em;

    article{
        height: 70vh;
        overflow-y: hidden;
    }

    .view_more-wrap{
        margin: 2em 0;
        text-align: center;
    }
}

article.expand_juicer{
    height: inherit;
    overflow-y: visible;
}

#juicer_nav{
    text-align: center;
    ul{
        padding: 0;
    }

    li{
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 42px;
        list-style-type: none;
        background-color: $brightred;

        cursor: pointer;

        svg{
            margin: 8px;
            width: 25px;
            height: 25px;

            path{
                fill: white;
            }
        }
    }

    .active{
        &::after{
            content: "";
            position: absolute;
            bottom: -9px;
            left: 0;
            right: 0;
            width: 0;
            height: 0;
            margin: 0 auto;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: $brightred transparent transparent transparent;
        }
    }

}

.juicer_list{
    padding: 0;
    margin: 0;

    .card{
        position: relative;
        display: block;
        background-color: white;
        list-style-type: none;
        margin: 1%;
        margin-bottom: 9px;

        @include box-shadow;

        @include tablet{
            width: 31.3%;
        }
        @include desktop{
            width: 23%;
        }

        .juicer_message{
            padding: 1em;
            text-align: center;
        }

        img{
            max-width: 100%;
        }
    }

    @include linx($black,$black,$black,$black);

    footer{
        position: relative;
        @include outer-container();
        padding: 8px;
        border-top: 1px solid $lightgray;

        .profile{
            max-width: 15% !important;
            border-radius: 6px;
            @include span-columns(2);

        }

        .profile_wrap{
            @include span-columns(8);
        }
        .poster_pretty_name,
        .poster_handle{
            margin: 0;
        }

        .poster_pretty_name{
            font-weight: 900;
        }

        .poster_handle{
            color: $mediumgray;
            font-size: 9px;
        }
    }
}

// uses icon map to determine bg image
div[class*=icon]{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-70%);
    height: 22px;
    width: 22px;
    margin: 6px;

    background:{
        position: center;
        size: contain;
        repeat: no-repeat;
    }
}



/****************************
****** Animated Headline  ***
****************************/

.learn_more_callout{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: $darkgray;
    color: white;
    text-align: center;

    overflow-x: hidden;

    h2{
        margin: 0 0 0 -70%;
        text-transform: uppercase;
        padding-bottom: 50px;
        font-weight: 300;

        font-size: 4vw;

        @include tablet{
            margin: 0 0 0 -90%;
        }
    }
}

.headline_rotate{
    .rotator_wrap{
        display: inline-block;
        perspective: 300px;
        position: relative;
        text-align: left;
    }

    .rotator_item {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        font-family: $font-light-condensed;

        opacity: 0;
        transform-origin: 50% 100%;
        transform: rotateX(180deg);
        width: 500px;

        &:nth-child(1){
            color: $bluegreen;
        }
        &:nth-child(2){
            color: $orange;
        }
        &:nth-child(3){
            color: $green;
        }
        &:nth-child(4){
            color: $pink;
        }
        &:nth-child(5){
            color: $green;
        }
        &:nth-child(6){
            color: $blue;
        }
        &:nth-child(7){
            color: $green;
        }
    }

    .rotator_item.rotate-visible {
        position: relative;
        opacity: 1;
        transform: rotateX(0deg);
        animation: headline-rotate-in 1.2s;
    }

    .rotator_item.rotate-hidden {
        transform: rotateX(180deg);
        animation: headline-rotate-out 1.2s;
    }
}

@keyframes headline-rotate-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes headline-rotate-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}



/****************************
******Events Section ********
****************************/

.upcoming_events{
    background:{
        image: repeating-linear-gradient(45deg, rgba(0,0,0,.15), rgba(0,0,0,0) 10px);
    }
    padding: 1em;

    .event_title-block{
        @include linx($black, $black, $darkred, $black);

        @include tablet{
            @include span-columns(2);
        }


        h2,
        a{
            font:{
                family: $font-bold-condensed;
            }
        }

        h2{
            margin: 0;
            text-transform: uppercase;

            @include tablet{
                padding: 1em 0;
            }
        }

        a{
            position: absolute;
            bottom: 0;
            margin: 1em 0;

            display: inline-block;
            background-color: $black;
            border: 2px solid white;
            border-radius: 22px;
            font:{
                size: 12pt;
            }
            text-transform: uppercase;
            height: 44px;
            min-width: 190px;
            padding: 10px 30px;
            text-decoration: none;
            text-align: center;
            color: white!important;

            @include tablet{
                color: $black!important;
                min-width: auto;
                background: 0;
                padding: 0;
                text-align: left;
                border: 0;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }

        .event_btn-wrap{
            display: flex;
            flex-direction: row;
            justify-content: center;

            @include tablet{
                display: block;
            }
        }
    }

    .owl_wrap{
        position: relative;
        @include span-columns(12);

        margin-bottom: 4em;

        @include tablet{
            @include span-columns(10);
            margin-bottom: 0;
            padding-right: 21px;
        }

        .owl-item{
            height: auto;
            width: 100%;
            display: block;
        }

        .owl_prev,
        .owl_next{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            padding: 0 0 4px 0;
            height: 30px;
            width: 30px;
            background-color: lighten($black, 85%);


            color: $black;
            cursor: pointer;
            font-size: 1.2em;

            height: 81%;

            @include tablet{
                height: 30px;
                width: 30px;
                color: white;
                border-radius: 15px;
                background-color: lighten($black, 75%);
            }

            &:hover{
                background-color: lighten($black, 40%);
            }
        }

        .owl_prev{
            left: -16px;
            @include tablet{
                padding-right: 2px;
            }
        }
        .owl_next{
            right: -16px;
            @include tablet{
                right: 0;
                padding-left: 2px;
            }

        }

    }
}
.event_card{
    position: relative;
    min-height: 202px;
    margin: 1.5em;
    padding: 1.5em;
    background-color: white;
    text-align: center;

    display: flex;
    flex-direction: column;

    @include box-shadow;

    p{
        margin: 0;
        font-family: $font-bold-condensed;
    }

    .date{
        color: $darkred;
        p{
            font-size: 36px;
            text-transform: uppercase;
            margin-bottom: .5em;
        }
    }
    .event_desc{
        p{
            font-size: 22px;
            line-height: 1.1;
        }
    }
}

.event_card-overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 1em;
    background-color: rgba(51,51,51,.9);
    opacity: 0;
    transition: opacity 212ms ease-in-out;

    &:hover{
        opacity: 1;
    }

    p{
        color: white;
    }

    .facebook,
    .twitter,
    .linkedin{
        display: inline;
        svg{
            max-width: 32px;
        }
    }
}


/****************************
******* Blog Section ********
****************************/
.blog{
    padding: 0 16px 1em;

    .blog_wrap{
        @include outer-container(1280px);
    }

    h3:first-child{
        font-size: 24px;
    }
}

.blog_content{
    padding: 0;

    @include linx($black, $black, $black, $black);

    li{
        list-style-type: none;
        margin-bottom: 8px;
        min-height: 200px;

        @media (min-width:1120px){
            @include span-columns(6);
        }

        &:nth-child(2){
            @include omega();
        }
    }

    .blog_card{
        display: flex;
        @include box-shadow;

        .blog_img{
            min-height: 200px;
            min-width: 200px;
            background:{
                size: cover;
                position: center;
                background-repeat: no-repeat;
            }
        }

        article{
            margin: 0;
            position: relative;
            padding: 1.5em;
        }
    }
    .category{
        display: inline-block;
        color: white;
        font-size: 11px;
        padding: 3px 9px;

        background-color: $mediumgray;
    }

    h3{
        margin-top: 9px;
        font:{
            size: 20px;
            family: $font-bold-condensed;
        }
    }
    p{
        font-size: 12px;
    }

    .read_more{
        position: absolute;
        bottom: 1em;
        display: flex;
        justify-content: space-around;
        width: 30px;
        height: 6px;

        span{
            height: 6px;
            width: 6px;
            background-color: $mediumgray;
            border-radius: 3px;

            transform: scale3d(1,1,1);
        }
    }
}

.blog_card{
    &:hover{
        span{
            animation: grow 1.4s infinite ease-in-out;
            &:nth-child(2){
                animation-delay: .35s;
            }
            &:nth-child(3){
                animation-delay: .7s;
            }
        }
    }
}

@keyframes grow{
    0%{
        transform: scale3d(1,1,1);
    }
    50%{
        transform: scale3d(1.3,1.3,1.3);
    }
    100%{
        transform: scale3d(1,1,1);
    }
}
