@import "bourbon";
@import "neat";
@import "../partials/_settings";
@import "../partials/_media-queries";
@import "../partials/_mixins";


/****************************
*********** Hero  **********
****************************/

#homepage_hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease 0s;


    .textured_backdrop{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 20vh;
        // padding: 10px;
        background:{
            color: rgba(0,0,0,.3);
            image: repeating-linear-gradient(45deg, rgba(0,0,0,.15), rgba(0,0,0,0) 10px);
            repeat: repeat;
            size: contain;
            position: center;
        }


    }

    h1{
        margin: 0;
        color: white;
        text-transform: uppercase;
        text-shadow: $black 1px 2px 12px;

        font-size: 7vw;
        font-weight: 300;
        max-width: 80%;
    }
}

#video_container {
    overflow:hidden;
    // opacity:0;
    transition: all 0.3s ease 0s;

    #fs_video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background-color:#fff;
        background-repeat:no-repeat;
        background-size: cover;
    }
}
#video_image {
    position:absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s ease 0s;
    background-size: cover;
}


/****************************
******** Callouts  **********
****************************/
.callouts{
    position: relative;
    margin: 0 auto;
    display: block;
    height: 100%;

    article{
        position: relative;
        // height: 250px;

        @include tablet{
            overflow: hidden;
            height: 340px;
        }
    }

    .angled_item{
        position: relative;
        width: 100%;
        height: 97%;
        min-height: 160px;
        margin: .25%;
        cursor: pointer;

        overflow: hidden;
        transform: skewX(25deg);

        @include tablet{
            float: left;
            width: 32.8%;
        }

        &::after{
            content: "";
            height: 100%;
            width: 100%;

            background:{
                position: center;
                size: cover;
                repeat: no-repeat;
            }

            z-index: 5;

            transform: skewX(-25deg);

            @include tablet{
                position: absolute;
                left: -34%;
                width: 168%;
            }
        }

        &:hover .lower_third{
            background-color: rgba(202, 8, 20, .7);
            color: white;
        }

        .lower_third{
            position: absolute;
            bottom: 12%;
            left: -16px;
            background-color: rgba(255,255,255, .7);
            width: 86%;
            text-transform: uppercase;
            clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);

            z-index: 10;
            transform: skewX(-25deg);
        }
    }

    .angled_content{
        position: relative;
        display: block;
        color: #fff;
        margin: 0;
        padding: 1em 2em 2em;

        opacity: 1;
        transform: translate(0, 0);

        transition: translate 2s ease;

        @include tablet{
            position: absolute;
            background-color: $darkgray;
            width: 75%;
            top: 0;
            bottom: 0;
            right: 0;
            margin: 3px 3px 7px 3px;
            padding: 1em 9em;

            clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
        }
        z-index: 5;

        opacity: 1;

        .close{
            position: absolute;
            top: 1em;
            right: 1em;

            cursor: pointer;
        }

    }

    h3, .lower_third p{
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 8px 45px;

        width: auto;
    }
    h3{
        font-family: $font-bold-condensed;
        &:after{
            content:">";
            position: absolute;
            display: block;
            right: 21px;
            top: 50%;
            transform: translateY(-56.56%);
        }
    }

    .lower_third p{
        margin: 0;
        padding: 0 0 8px 45px;
    }
}


.hide{
    display: none!important;
}

#angled-events{
    background-color: $blue;
}
#angled-lifelong_learning{
    background-color: $green;
}
#angled-communities{
    background-color: $orange;
}

.angled_item.content-active{
    transform: skewX(0deg);

    @include tablet{
        width: 40%;
    }


    &:after{
        transform: skewX(0deg);
    }

    .lower_third{
        transform: skewX(0deg);
    }


}

/****************************
****** Juicer feed  *********
****************************/

.social_feed{
    background-color: $lightgray;
    padding: 1em;

    article{
        height: 70vh;
        overflow-y: hidden;
    }
}

#juicer_nav{
    text-align: center;
    ul{
        padding: 0;
    }

    li{
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 42px;
        list-style-type: none;
        background-color: $brightred;

        cursor: pointer;

        svg{
            margin: 8px;
            width: 25px;
            height: 25px;

            path{
                fill: white;
            }
        }
    }

    .active{
        &::after{
            content: "";
            position: absolute;
            bottom: -9px;
            left: 0;
            right: 0;
            width: 0;
            height: 0;
            margin: 0 auto;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: $brightred transparent transparent transparent;
        }
    }

}

.juicer_list{
    padding: 0;
    margin: 0;

    .card{
        position: relative;
        display: block;
        background-color: white;
        list-style-type: none;
        margin: 1%;
        margin-bottom: 9px;

        box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);

        @include tablet{
            width: 31.3%;
        }
        @include desktop{
            width: 23%;
        }

        .juicer_message{
            padding: 1em;
            text-align: center;
        }

        img{
            max-width: 100%;
        }
    }

    @include linx($black,$black,$black,$black);

    footer{
        position: relative;
        @include outer-container();
        padding: 8px;
        border-top: 1px solid $lightgray;

        .profile{
            max-width: 15% !important;
            border-radius: 6px;
            @include span-columns(2);

        }

        .profile_wrap{
            @include span-columns(8);
        }
        .poster_pretty_name,
        .poster_handle{
            margin: 0;
        }

        .poster_pretty_name{
            font-weight: 900;
        }

        .poster_handle{
            color: $mediumgray;
            font-size: 9px;
        }
    }
}

// uses icon map to determine bg image
div[class*=icon]{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-70%);
    height: 22px;
    width: 22px;
    margin: 6px;

    background:{
        position: center;
        size: contain;
        repeat: no-repeat;
    }
}



/****************************
****** Animated Headline  ***
****************************/

.learn_more_callout{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: $darkgray;
    color: white;
    text-align: center;

    h2{
        margin: 0 0 0 -90%;
        text-transform: uppercase;
        font-size: 2.4em;

        padding-bottom: 50px;
        font-weight: 300;
    }
}

.headline_rotate{
    .rotator_wrap{
        display: inline-block;
        perspective: 300px;
        position: relative;
        text-align: left;
        color: $bluegreen;
    }

    .rotator_item {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        font-family: $font-light-condensed;

        opacity: 0;
        transform-origin: 50% 100%;
        transform: rotateX(180deg);

    }

    .rotator_item.rotate-visible {
        position: relative;
        opacity: 1;
        transform: rotateX(0deg);
        animation: headline-rotate-in 1.2s;
    }

    .rotator_item.rotate-hidden {
        transform: rotateX(180deg);
        animation: headline-rotate-out 1.2s;
    }
}

@keyframes headline-rotate-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes headline-rotate-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}



/****************************
******Events Section ********
****************************/

.upcoming_events{
    background:{
        image: repeating-linear-gradient(45deg, rgba(0,0,0,.15), rgba(0,0,0,0) 10px);
    }

    .event_title-block{
        @include linx($black, $black, $darkred, $black);
        @include span-columns(2);

        h2,
        a{
            font:{
                family: $font-bold-condensed;
            }
        }

        h2{
            margin: 0;
            padding: 1em 0;
            text-transform: uppercase;
        }

        a{
            position: absolute;
            bottom: 0;
            margin: 1em 0;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }

    .owl_wrap{
        position: relative;
        @include span-columns(10);
        .owl_prev,
        .owl_next{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);

            margin: 0;
            padding: 0 0 4px 0;
            height: 30px;
            width: 30px;
            background-color: lighten($black, 75%);
            border-radius: 15px;
            color: white;
            cursor: pointer;
            font-size: 1.2em;

            &:hover{
                background-color: lighten($black, 40%);
            }
        }

        .owl_prev{
            left: -20px;
            padding-right: 2px;
        }
        .owl_next{
            right: -20px;
            padding-left: 2px;
        }

    }
}
.event_card{
    margin: 1.5em;
    padding: 1.5em;
    background-color: white;
    text-align: center;

    p{
        margin: 0;
        font-family: $font-bold-condensed;
    }

    .date{
        color: $darkred;
        p{
            font-size: 36px;
            text-transform: uppercase;
            margin-bottom: .5em;
        }
    }
    .event_desc{
        p{
            font-size: 22px;
            line-height: 1.1;
        }
    }
}


/****************************
******* Blog Section ********
****************************/
.blog{
    height: 600px;
}
