@import "bourbon";
@import "neat";
@import "../partials/_settings";
@import "../partials/_media-queries";
@import "../partials/_mixins";
@import "../partials/_global";

/****************************
********  General  **********
****************************/
html{
    h1{
        font:{
            size: 26px;
            family: $font-bold-condensed;
        }
    }
}


/****************************
******Banner Section ********
****************************/
.banner_interior{
    position: relative;
    height: 70vh;

    background:{
        position: center;
        size: cover;
        repeat: no-repeat;

        color: gray;
    }

    .banner_content{
        @include outer-container(1280px);
    }

    .page_title{
        position: absolute;
        bottom: 0;
        background-color: white;
        transform: skew(35deg);
        @include span-columns(7);

        &:before{
            content:'';
            height: 100%;
            position: absolute;
            right: 50%;
            background-color: white;

            @include span-columns(12);

        }

        h1{
            font-size: 44px;
            padding-left:18px;
            transform: skew(-35deg);
        }
    }

}


/****************************
******Content Section ********
****************************/

.content{
    @include outer-container(1280px);
    padding: 18px 1em;

    article{
        @include tablet{
            @include span-columns(8);
        }

        h1{
            margin-top: 0;
        }
    }

    aside{
        background-color: $lightgray;

        @include tablet{
            @include span-columns(4);
            min-height: 400px;
        }

    }

    .intro_section{
        padding-bottom: 1em;
        margin-bottom: 2.8em;

        border-bottom: 1px solid $lightgray;
        p{
            font-size: 24px;
            line-height: 1.3;
        }
    }
}

/****************************
***** Communities pages *****
****************************/
.community_leaders{
    padding: 2em 0;
    border-bottom: 1px solid $lightgray;

    ul{
        margin: 0;
        padding: 0;

        @include outer-container;
    }
    li{
        list-style-type: none;
        margin-bottom: 2em;

        @include span-columns(12);

        @include desktop{
            @include span-columns(4);
            margin: 0;
        }

        p{
            margin: 0;
            font-size: 14px;
        }

        .leader-name{
            font-weight: 800;
        }
        .leader-email{
            color: $darkred;
        }

    }
}

/****************************
***** Sidebar ***************
****************************/
aside{
    h3{
        display: inline-block;
        position: relative;
        background-color: $darkred;
        color: white;
        margin: 0;
        padding: .5em .5em .5em 1em;
        width: 85%;
        font-family: $font-bold-condensed;
        letter-spacing: 1px;

        text-transform: uppercase;
        @include tablet{
            width: 80%;
        }

        @include desktop{
            width: 70%;
        }

        &:after{
            content: '';
            position: absolute;
            top: 0;
            right: -30px;
            bottom: 0;
            width: 0;
            height: 100%;
            border-style: solid;
            border-width: 40px 0 0 30px;
            border-color: transparent transparent transparent $darkred;

        }
    }
}

.event_info{
    .event_info-item{
        width: 100%;
        border-bottom: 1px solid white;
        padding: 1em 2em;

        @include tablet{
            padding: .5em 1em;
        }
        @include desktop{
            padding: .5em 2em 30px;
        }

        p{
            margin-top: 0;
        }
    }

    .event_info-date{
        color: $darkred;
        font:{
            size: 30px;
            family: $font-bold-condensed;
        }
        margin: 0;
    }

    .event_info-title{
        font-family: $font-bold-condensed;
    }

    .event_info-desc{
        margin-bottom: 30px;
    }
}

.facebook_connect{
    width: 100%;
    padding: 1em 2em;

    @include tablet{
        padding: 1em;
    }
    @include desktop{
        padding: 2em;
    }

    .facebook_connect-wrap{
        @include outer-container();
    }

    svg{
        max-width: 45px;
        height: auto;
        // float: left;
        margin-right: 1em;

        @include span-columns(3);
    }
    p{
        margin: 0 0 33px;
        line-height: 1.2;
        @include span-columns(9);
    }

    .btn_wrap{
        margin-bottom: 7px;
    }
}


/****************************
***** Gallery Section *******
****************************/


/****************************
******* Blog Section ********
****************************/
.blog{

    .view_more{
        text-align: center;
    }
}


/****************************
***** Signup Section ********
****************************/

.signups{
    @include outer-container(1280px);
    display: flex;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
    }


    .stay_connected,
    .contribute{
        margin: 1em .5em;
        padding: 1em;

        @include tablet{
            flex-basis: 50%;
            padding: 2em;

        }
    }

    .stay_connected{
        background-color: $lightgray;

        h3{
            font-family: $font-light;
        }
    }

    .contribute{
        background-color: $brightred;
        color: white;

        display: flex;
        // flex-direction: row;
        align-items: center;

        @include tablet{
            div{

                &:first-child{
                    flex-basis: 55%;
                }

                &:last-child{
                    flex-basis: 45%;
                    text-align: center;
                }
            }
        }

        h3{
            font:{
                family: $font-bold-condensed;
            }
        }
    }
}

/****************************
***** Contact Person ********
****************************/

.contact_person{
    height: 300px;
    background:{
        image: repeating-linear-gradient(45deg, rgba(0,0,0,.15), rgba(0,0,0,0) 10px);
    }
}
