@import "bourbon";
@import "neat";
@import "../partials/_settings";
@import "../partials/_media-queries";
@import "../partials/_mixins";
@import "../partials/_global";

/****************************
********  General  **********
****************************/
*{
    box-sizing: border-box;
}
body{
    background-color: $lightgray;
}

#masthead{
    background-color: white;
}


/****************************
***** Main Content **********
****************************/

#event_title{
    @include outer-container(1280px);
    padding-left: 12px;
}

.event_tags{
    .filter-btn{
        display: inline-block;
        background-color: $darkred;
        color: white;
        margin: 4px;
        padding: 4px 7px;
        cursor: pointer;

        font:{
            size: 12px;
            family: $font-light;
        }
    }

    .filter-btn.is-checked{
        background-color: $black;
    }
}

#events{
    @include outer-container(1280px);
    height: auto;

    &:after{
        content:'';
        flex: auto;
    }

    .event-item{
        position: relative;
        display: block;
        margin: 1%;
        padding: 1em;
        background-color: white;

        margin-bottom: 1em;
        @include box-shadow;

        @include tablet{
            width: 31.3%;
        }
        @include desktop{
            width: 23%;
        }
    }

    .event_info-date{
        color: $darkred;
        font:{
            size: 30px;
            family: $font-bold-condensed;
        }
        margin: 0;
    }

    .event_info-title{
        font-family: $font-bold-condensed;
    }

    .event_info-desc{
        flex: 1;
    }

    .btn_red{

    }
}
