@import "bourbon";
@import "neat";
@import "../partials/_settings";
@import "../partials/_media-queries";
@import "../partials/_mixins";
@import "../partials/_global";

/****************************
********  General  **********
****************************/
*{
    box-sizing: border-box;
}
body{
    // background-color: $lightgray;
}

#masthead{
    background-color: white;
}


/****************************
***** Main Content **********
****************************/

#event_title{
    @include outer-container(1280px);
    padding-left: 12px;
}

.events_wrapper{
    @include outer-container(1280px);
}

.events_filtering{
    border-bottom: 2px solid $lightgray;
    padding: 12px;

    ul{
        margin: 0;
        padding: 0;
        li{
            margin: 0 23px 0 0;
            padding: 0;
            list-style-type: none;
            display: inline-block;
        }
    }

    select{
        width: 200px;
        border: 1px solid $lightgray;
    }
}

#events{
    height: auto;
    margin-top: 1em;

    .event-item{
        position: relative;
        display: block;
        padding: 1em;
        background-color: white;
        width: 100%;
        border-bottom: 1px solid lightgray;
        margin: 0;

        @include outer-container(1280px);
    }

    .event_img{
        display: none;
        background:{
            size: cover;
            repeat: no-repeat;
            position: center;
        }
        @include tablet{
            display: inherit;
            height: 250px;
            @include span-columns(3);
        }
    }
    .event_desc-wrap{
        @include tablet{
            @include span-columns(8);
        }
    }


    .event_info-title, .event_info-details{
        font-family: $font-bold-condensed;
        margin: 0;
    }

    .event_info-title{
        color: $darkred;
    }
}
