@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.icon-Facebook {
  background-image: url("../../img/svg/facebook.svg"); }

.icon-Twitter {
  background-image: url("../../img/svg/twitter.svg"); }

.icon-Instagram {
  background-image: url("../../img/svg/instagram.svg"); }

/****************************
******** General  **********
****************************/
html p {
  font-size: 13px; }

/****************************
*********** Hero  **********
****************************/
#homepage_hero {
  position: relative;
  height: 85vh;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  margin-bottom: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media (min-width: 960px) {
    #homepage_hero {
      margin: 0; } }
  #homepage_hero .textured_backdrop {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.15), transparent 10px);
    background-repeat: repeat;
    background-size: contain;
    background-position: center; }
  #homepage_hero h1 {
    margin: 0;
    color: white;
    text-transform: uppercase;
    text-shadow: #000000 1px 2px 12px;
    font-size: 7vw;
    font-weight: 300;
    max-width: 80%; }

/****************************
******** Callouts  **********
****************************/
.callouts {
  position: relative;
  margin: 0 auto;
  display: block; }
  .callouts article {
    position: relative;
    background-color: #454545; }
    @media (min-width: 960px) {
      .callouts article {
        overflow: hidden;
        background-color: white; } }
    .callouts article h4 {
      margin: 0;
      padding: 0; }

.block {
  position: relative;
  display: block;
  cursor: pointer;
  height: auto;
  overflow: hidden; }
  @media (min-width: 960px) {
    .block {
      display: inline-block;
      margin-top: 3px;
      width: 33%; } }
  .block .lower_third {
    position: absolute;
    left: 0;
    bottom: 1em;
    z-index: 1; }
    @media (min-width: 960px) {
      .block .lower_third {
        bottom: 2em;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.9); } }
  @media (min-width: 960px) {
    .block .lower_third-wrap {
      transform: skewX(-25deg); } }
  .block h3 {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 8px 21px 0px 35px;
    text-transform: uppercase;
    font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif; }
    .block h3:after {
      content: ">";
      position: absolute;
      display: block;
      right: 0px;
      top: 50%;
      transform: translateY(-40%) rotate(90deg); }
      @media (min-width: 960px) {
        .block h3:after {
          transform: translateY(-40%) rotate(0deg); } }
  .block .lower_third p {
    display: none; }
    @media (min-width: 960px) {
      .block .lower_third p {
        display: inherit;
        margin: 0;
        padding: 9px 0 8px 35px; } }
  @media (min-width: 960px) {
    .block:hover .lower_third {
      background-color: rgba(202, 8, 20, 0.875);
      color: white; } }
  @media (min-width: 960px) {
    .block .btn {
      position: absolute;
      left: 23px;
      bottom: 21px;
      transform: skewX(-25deg); } }

.block.show {
  cursor: inherit; }
  .block.show .lower_third-wrap {
    transform: skewX(0deg); }

.content-block,
.content-block_mobile {
  position: relative;
  left: 0;
  right: 0;
  background-color: #454545;
  color: white;
  transition: height 1s ease-in-out;
  z-index: 100; }
  @media (min-width: 960px) {
    .content-block,
    .content-block_mobile {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 33%;
      height: 100%;
      width: 72%;
      transform: skewX(25deg);
      opacity: 0;
      border-left: 4px solid white; } }
  .content-block .content-block_copy,
  .content-block_mobile .content-block_copy {
    position: relative;
    display: block;
    padding: 2em 1em; }
    @media (min-width: 768px) {
      .content-block .content-block_copy,
      .content-block_mobile .content-block_copy {
        padding: 3em 6em; } }
    @media (min-width: 960px) {
      .content-block .content-block_copy,
      .content-block_mobile .content-block_copy {
        position: absolute;
        top: 10%;
        bottom: 80px;
        left: 80px;
        width: 80%;
        padding: 0 3em 0 0;
        width: 670px;
        overflow: hidden;
        transform: skewX(-25deg); } }
  .content-block .close,
  .content-block_mobile .close {
    position: absolute;
    top: 0px;
    right: 2em;
    padding: 1em;
    cursor: pointer;
    z-index: 500; }
    @media (min-width: 960px) {
      .content-block .close,
      .content-block_mobile .close {
        transform: skewX(-25deg); } }

#angled_one,
#angled_two,
#angled_three {
  height: 130px; }
  #angled_one:after,
  #angled_two:after,
  #angled_three:after {
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    left: -20%;
    right: -20%;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media (min-width: 960px) {
      #angled_one:after,
      #angled_two:after,
      #angled_three:after {
        transform: skewX(-25deg); } }
    @media (max-width: 959px) {
      #angled_one:after,
      #angled_two:after,
      #angled_three:after {
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-filter: gray;
                filter: gray; } }
  @media (min-width: 960px) {
    #angled_one,
    #angled_two,
    #angled_three {
      min-height: 282px;
      height: auto;
      transform: skewX(25deg); } }
  #angled_one .color_overlay,
  #angled_two .color_overlay,
  #angled_three .color_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1; }
    @media (min-width: 960px) {
      #angled_one .color_overlay,
      #angled_two .color_overlay,
      #angled_three .color_overlay {
        display: none; } }

#angled_one .color_overlay {
  background-color: rgba(255, 204, 0, 0.7); }

#angled_two .color_overlay {
  background-color: rgba(9, 201, 151, 0.6); }

#angled_three .color_overlay {
  background-color: rgba(202, 8, 20, 0.7); }

@media (min-width: 960px) {
  #angled_one.show,
  #angled_two.show,
  #angled_three.show {
    transform: skewX(0); }
    #angled_one.show:after,
    #angled_two.show:after,
    #angled_three.show:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 40%;
      top: 0;
      left: 0;
      transform: skewX(0); } }

@media (min-width: 960px) {
  .show {
    width: 100%; } }

.enter {
  display: inherit;
  opacity: 1;
  animation: show 230ms ease-in-out; }

#mobile_one.enter,
#mobile_two.enter,
#mobile_three.enter {
  display: block; }

@media (min-width: 960px) {
  .hidden {
    display: none; } }

@keyframes show {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: inherit;
    opacity: 0; }
  100% {
    display: inherit;
    opacity: 1; } }

.content-block_desktop {
  display: none;
  opacity: 0; }
  .content-block_desktop .btn {
    margin: 1em 1em 2em; }
    @media (min-width: 768px) {
      .content-block_desktop .btn {
        margin-left: 6em; } }

.content-block_desktop.show {
  display: block;
  opacity: 1;
  animation: show 230ms ease-in-out; }

/****************************
****** Juicer feed  *********
****************************/
.social_feed {
  background-color: #efefef;
  padding: 1em; }
  .social_feed article {
    height: 70vh;
    overflow-y: hidden; }
  .social_feed .overlay_gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 52px;
    background: linear-gradient(0deg, #efefef, rgba(239, 239, 239, 0)); }
  .social_feed .view_more-wrap {
    margin: 2em 0;
    text-align: center; }

article.expand_juicer {
  height: inherit;
  overflow-y: visible; }

#juicer_nav {
  text-align: center; }
  #juicer_nav ul {
    padding: 0; }
  #juicer_nav li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 42px;
    list-style-type: none;
    background-color: #cc0000;
    cursor: pointer; }
    #juicer_nav li svg {
      margin: 8px;
      width: 25px;
      height: 25px; }
      #juicer_nav li svg path {
        fill: white; }
  #juicer_nav .active::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #cc0000 transparent transparent transparent; }

.juicer_list {
  padding: 0;
  margin: 0; }
  .juicer_list .card {
    position: relative;
    display: block;
    background-color: white;
    list-style-type: none;
    margin: 1%;
    margin-bottom: 9px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15); }
    @media (min-width: 768px) {
      .juicer_list .card {
        width: 31.3%; } }
    @media (min-width: 960px) {
      .juicer_list .card {
        width: 23%; } }
    .juicer_list .card .juicer_message {
      padding: 1em;
      text-align: center; }
    .juicer_list .card img {
      max-width: 100%; }
  .juicer_list a {
    color: #000000; }
    .juicer_list a:visited {
      color: #000000; }
    .juicer_list a:hover {
      color: #000000; }
    .juicer_list a:active {
      color: #000000; }
  .juicer_list footer {
    position: relative;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-top: 1px solid #efefef; }
    .juicer_list footer::after {
      clear: both;
      content: "";
      display: table; }
    .juicer_list footer .profile {
      max-width: 15% !important;
      border-radius: 6px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .juicer_list footer .profile:last-child {
        margin-right: 0; }
    .juicer_list footer .profile_wrap {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .juicer_list footer .profile_wrap:last-child {
        margin-right: 0; }
    .juicer_list footer .poster_pretty_name,
    .juicer_list footer .poster_handle {
      margin: 0; }
    .juicer_list footer .poster_pretty_name {
      font-weight: 900; }
    .juicer_list footer .poster_handle {
      color: #999999;
      font-size: 9px; }

div[class*=icon] {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-70%);
  height: 22px;
  width: 22px;
  margin: 6px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

/****************************
****** Animated Headline  ***
****************************/
.learn_more_callout {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 300px;
  background-color: #333333;
  color: white;
  text-align: center;
  overflow-x: hidden; }
  .learn_more_callout h2 {
    margin: 0 0 0 -70%;
    text-transform: uppercase;
    padding-bottom: 50px;
    font-weight: 300;
    font-size: 4vw; }
    @media (min-width: 768px) {
      .learn_more_callout h2 {
        margin: 0 0 0 -90%; } }

.headline_rotate .rotator_wrap {
  display: inline-block;
  perspective: 300px;
  position: relative;
  text-align: left; }

.headline_rotate .rotator_item {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "HelveticaNeueW01-47LtCn 692686", arial, sans-serif;
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  width: 500px; }
  .headline_rotate .rotator_item:nth-child(1) {
    color: #09c997; }
  .headline_rotate .rotator_item:nth-child(2) {
    color: #ff9900; }
  .headline_rotate .rotator_item:nth-child(3) {
    color: #99cc33; }
  .headline_rotate .rotator_item:nth-child(4) {
    color: #ff0099; }
  .headline_rotate .rotator_item:nth-child(5) {
    color: #99cc33; }
  .headline_rotate .rotator_item:nth-child(6) {
    color: #66ccff; }
  .headline_rotate .rotator_item:nth-child(7) {
    color: #99cc33; }

.headline_rotate .rotator_item.rotate-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
  animation: headline-rotate-in 1.2s; }

.headline_rotate .rotator_item.rotate-hidden {
  transform: rotateX(180deg);
  animation: headline-rotate-out 1.2s; }

@keyframes headline-rotate-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0; }
  35% {
    transform: rotateX(120deg);
    opacity: 0; }
  65% {
    opacity: 0; }
  100% {
    transform: rotateX(360deg);
    opacity: 1; } }

@keyframes headline-rotate-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1; }
  35% {
    transform: rotateX(-40deg);
    opacity: 1; }
  65% {
    opacity: 0; }
  100% {
    transform: rotateX(180deg);
    opacity: 0; } }

/****************************
******Events Section ********
****************************/
.upcoming_events {
  background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.15), transparent 10px);
  padding: 1em; }
  .upcoming_events .event_title-block a {
    color: #000000; }
    .upcoming_events .event_title-block a:visited {
      color: #000000; }
    .upcoming_events .event_title-block a:hover {
      color: #ca0814; }
    .upcoming_events .event_title-block a:active {
      color: #000000; }
  @media (min-width: 768px) {
    .upcoming_events .event_title-block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .upcoming_events .event_title-block:last-child {
        margin-right: 0; } }
  .upcoming_events .event_title-block h2,
  .upcoming_events .event_title-block a {
    font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif; }
  .upcoming_events .event_title-block h2 {
    margin: 0;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .upcoming_events .event_title-block h2 {
        padding: 1em 0; } }
  .upcoming_events .event_title-block a {
    position: absolute;
    bottom: 0;
    margin: 1em 0;
    display: inline-block;
    background-color: #000000;
    border: 2px solid white;
    border-radius: 22px;
    font-size: 12pt;
    text-transform: uppercase;
    height: 44px;
    min-width: 190px;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    color: white !important; }
    @media (min-width: 768px) {
      .upcoming_events .event_title-block a {
        color: #000000 !important;
        min-width: auto;
        background: 0;
        padding: 0;
        text-align: left;
        border: 0;
        text-decoration: underline;
        text-transform: uppercase; } }
  .upcoming_events .event_title-block .event_btn-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center; }
    @media (min-width: 768px) {
      .upcoming_events .event_title-block .event_btn-wrap {
        display: block; } }
  .upcoming_events .owl_wrap {
    position: relative;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 4em; }
    .upcoming_events .owl_wrap:last-child {
      margin-right: 0; }
    @media (min-width: 768px) {
      .upcoming_events .owl_wrap {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-bottom: 0;
        padding-right: 21px; }
        .upcoming_events .owl_wrap:last-child {
          margin-right: 0; } }
    .upcoming_events .owl_wrap .owl-item {
      height: auto;
      width: 100%;
      display: block; }
    .upcoming_events .owl_wrap .owl_prev,
    .upcoming_events .owl_wrap .owl_next {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      position: absolute;
      z-index: 10;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0 0 4px 0;
      height: 30px;
      width: 30px;
      background-color: #d9d9d9;
      color: #000000;
      cursor: pointer;
      font-size: 1.2em;
      height: 81%; }
      @media (min-width: 768px) {
        .upcoming_events .owl_wrap .owl_prev,
        .upcoming_events .owl_wrap .owl_next {
          height: 30px;
          width: 30px;
          color: white;
          border-radius: 15px;
          background-color: #bfbfbf; } }
      .upcoming_events .owl_wrap .owl_prev:hover,
      .upcoming_events .owl_wrap .owl_next:hover {
        background-color: #666666; }
    .upcoming_events .owl_wrap .owl_prev {
      left: -16px; }
      @media (min-width: 768px) {
        .upcoming_events .owl_wrap .owl_prev {
          padding-right: 2px; } }
    .upcoming_events .owl_wrap .owl_next {
      right: -16px; }
      @media (min-width: 768px) {
        .upcoming_events .owl_wrap .owl_next {
          right: 0;
          padding-left: 2px; } }

.event_card {
  position: relative;
  min-height: 202px;
  margin: 1.5em;
  padding: 1.5em;
  background-color: white;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15); }
  .event_card p {
    margin: 0;
    font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif; }
  .event_card .date {
    color: #ca0814; }
    .event_card .date p {
      font-size: 36px;
      text-transform: uppercase;
      margin-bottom: .5em; }
  .event_card .event_desc p {
    font-size: 22px;
    line-height: 1.1; }

.event_card-overlay {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background-color: rgba(51, 51, 51, 0.9);
  opacity: 0;
  transition: opacity 212ms ease-in-out; }
  .event_card-overlay:hover {
    opacity: 1; }
  .event_card-overlay p {
    color: white; }
  .event_card-overlay .facebook,
  .event_card-overlay .twitter,
  .event_card-overlay .linkedin {
    display: inline; }
    .event_card-overlay .facebook svg,
    .event_card-overlay .twitter svg,
    .event_card-overlay .linkedin svg {
      max-width: 32px; }

/****************************
******* Blog Section ********
****************************/
.blog {
  padding: 0 16px 1em; }
  .blog .blog_wrap {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto; }
    .blog .blog_wrap::after {
      clear: both;
      content: "";
      display: table; }
  .blog h3:first-child {
    font-size: 24px; }

.blog_content {
  padding: 0; }
  .blog_content a {
    color: #000000; }
    .blog_content a:visited {
      color: #000000; }
    .blog_content a:hover {
      color: #000000; }
    .blog_content a:active {
      color: #000000; }
  .blog_content li {
    list-style-type: none;
    margin-bottom: 8px;
    min-height: 200px; }
    @media (min-width: 1120px) {
      .blog_content li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .blog_content li:last-child {
          margin-right: 0; } }
    .blog_content li:nth-child(2) {
      margin-right: 0; }
  .blog_content .blog_card {
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15); }
    .blog_content .blog_card .blog_img {
      min-height: 200px;
      min-width: 200px;
      background-size: cover;
      background-position: center;
      background-background-repeat: no-repeat; }
    .blog_content .blog_card article {
      margin: 0;
      position: relative;
      padding: 1.5em; }
  .blog_content .category {
    display: inline-block;
    color: white;
    font-size: 11px;
    padding: 3px 9px;
    background-color: #999999; }
  .blog_content h3 {
    margin-top: 9px;
    font-size: 20px;
    font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif; }
  .blog_content p {
    font-size: 12px; }
  .blog_content .read_more {
    position: absolute;
    bottom: 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 30px;
    height: 6px; }
    .blog_content .read_more span {
      height: 6px;
      width: 6px;
      background-color: #999999;
      border-radius: 3px;
      transform: scale3d(1, 1, 1); }

.blog_card:hover span {
  animation: grow 1.4s infinite ease-in-out; }
  .blog_card:hover span:nth-child(2) {
    animation-delay: .35s; }
  .blog_card:hover span:nth-child(3) {
    animation-delay: .7s; }

@keyframes grow {
  0% {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.3, 1.3, 1.3); }
  100% {
    transform: scale3d(1, 1, 1); } }
