html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.icon-Facebook {
  background-image: url("../../img/svg/facebook.svg"); }

.icon-Twitter {
  background-image: url("../../img/svg/twitter.svg"); }

.icon-Instagram {
  background-image: url("../../img/svg/instagram.svg"); }

/****************************
********  General  **********
****************************/
*, *::after, *::before {
  box-sizing: border-box; }

html, body, section, article, div, span {
  margin: 0;
  padding: 0; }

html {
  font-family: "HelveticaNeueW01-55Roma", arial, sans-serif;
  color: #333333; }
  html h1 {
    text-transform: uppercase;
    letter-spacing: 1px; }
  html p {
    font-size: 16px;
    line-height: 1.5em; }
  html span {
    font-family: "HelveticaNeueW01-55Roma", arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeueW01-47LtCn 692686", arial, sans-serif; }

section {
  position: relative; }

article {
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  article::after {
    clear: both;
    content: "";
    display: table; }

img {
  max-width: 500px;
  height: auto; }

.wrap {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .wrap::after {
    clear: both;
    content: "";
    display: table; }

/****************************
********  Links  **********
****************************/
body a {
  color: #cc0000; }
  body a:visited {
    color: #cc0000; }
  body a:hover {
    color: #615445; }
  body a:active {
    color: #cc0000; }

body a {
  text-decoration: none; }

section p a {
  text-decoration: underline;
  font-size: 16px; }

/****************************
*******   Components  *******
****************************/
body a.btn, body a.btn_red {
  display: inline-block;
  border: 2px solid white;
  border-radius: 22px;
  font-size: 12pt;
  text-transform: uppercase;
  height: 44px;
  min-width: 190px;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center; }

body a.btn {
  color: white;
  font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif; }

body a.btn_red {
  border: 2px solid #cc0000;
  color: #cc0000; }

/****************************
******* Forms ***************
****************************/
/****************************
********  General  **********
****************************/
* {
  box-sizing: border-box; }

#masthead {
  background-color: white; }

/****************************
***** Main Content **********
****************************/
#event_title {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px; }
  #event_title::after {
    clear: both;
    content: "";
    display: table; }

.events_wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .events_wrapper::after {
    clear: both;
    content: "";
    display: table; }

.events_filtering {
  background-color: #efefef;
  padding: 12px; }
  .events_filtering ul {
    margin: 0; }
    .events_filtering ul li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: inline-block; }
  .events_filtering select {
    width: 200px; }

#events {
  height: auto;
  margin-top: 1em; }
  #events .event-item {
    position: relative;
    display: block;
    padding: 1em;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin: 0;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    #events .event-item::after {
      clear: both;
      content: "";
      display: table; }
  @media (min-width: 937px) {
    #events .event_info-wrap {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      #events .event_info-wrap:last-child {
        margin-right: 0; } }
  @media (min-width: 960px) {
    #events .event_info-wrap {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      #events .event_info-wrap:last-child {
        margin-right: 0; } }
  @media (min-width: 960px) {
    #events .event_desc-wrap {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      #events .event_desc-wrap:last-child {
        margin-right: 0; } }
  #events .event_info-date {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 150px;
    height: 150px;
    background-color: #ca0814;
    text-align: center;
    margin: 0; }
    #events .event_info-date p {
      color: white;
      font-size: 30px;
      font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif;
      margin: 0;
      padding: 0; }
  #events .event_info-title, #events .event_info-details {
    font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif;
    margin: 0; }
  #events .event_info-title {
    color: #ca0814; }
