html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.icon-Facebook {
  background-image: url("../../img/svg/facebook.svg"); }

.icon-Twitter {
  background-image: url("../../img/svg/twitter.svg"); }

.icon-Instagram {
  background-image: url("../../img/svg/instagram.svg"); }

/****************************
********  General  **********
****************************/
*, *::after, *::before {
  box-sizing: border-box; }

html, body, section, article, div, span {
  margin: 0;
  padding: 0; }

html {
  font-family: "HelveticaNeueW01-55Roma", arial, sans-serif;
  color: #333333; }
  html h1 {
    text-transform: uppercase;
    letter-spacing: 1px; }
  html p {
    font-size: 16px;
    line-height: 1.5em; }
  html span {
    font-family: "HelveticaNeueW01-55Roma", arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeueW01-47LtCn 692686", arial, sans-serif; }

section {
  position: relative; }

article {
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  article::after {
    clear: both;
    content: "";
    display: table; }

img {
  max-width: 500px;
  height: auto; }

.wrap {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .wrap::after {
    clear: both;
    content: "";
    display: table; }

/****************************
********  Links  **********
****************************/
body a {
  color: #cc0000; }
  body a:visited {
    color: #cc0000; }
  body a:hover {
    color: #615445; }
  body a:active {
    color: #cc0000; }

body a {
  text-decoration: none; }

/****************************
*******   Components  *******
****************************/
body a.btn, body a.btn_red {
  display: inline-block;
  border: 2px solid white;
  border-radius: 22px;
  font-size: 12pt;
  text-transform: uppercase;
  height: 44px;
  min-width: 190px;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center; }

body a.btn {
  color: white;
  font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif; }

body a.btn_red {
  border: 2px solid #cc0000;
  color: #cc0000; }

/****************************
******* Forms ***************
****************************/
.gform_wrapper label {
  display: none; }

.gform_wrapper ul {
  margin: 0;
  padding: 0; }
  .gform_wrapper ul li {
    list-style-type: none;
    margin: 0; }

#gform_1 {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 35px; }
  #gform_1::after {
    clear: both;
    content: "";
    display: table; }
  #gform_1 .gform_body,
  #gform_1 .gform_footer {
    display: inline-block; }
  #gform_1 .gform_body {
    width: 85%; }
  #gform_1 #input_1_1 {
    width: 100%;
    height: 35px;
    padding-left: 1em;
    line-height: 1; }
  #gform_1 #gform_submit_button_1 {
    width: 35px;
    height: 35px;
    color: transparent;
    margin-left: 12px;
    border: 0;
    background-image: url(../../img/svg/submit-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent; }
    #gform_1 #gform_submit_button_1:hover {
      cursor: pointer; }
  #gform_1 .top_label {
    margin: 0;
    padding: 0; }

#gform_2 {
  position: relative;
  width: 100%;
  margin: 1em 0; }
  @media (min-width: 768px) {
    #gform_2 {
      width: 80%; } }
  #gform_2 .gform_title {
    font-size: 26px;
    font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif;
    text-transform: uppercase; }
  #gform_2 input, #gform_2 textarea {
    margin: 0;
    padding: 8px;
    border: 1px solid #b8b8b8;
    width: 100%;
    background-color: #dbdbdb;
    font-size: 16px;
    font-family: "HelveticaNeueW01-47LtCn 692686", arial, sans-serif; }
    #gform_2 input::-webkit-input-placeholder, #gform_2 textarea::-webkit-input-placeholder {
      color: #171717;
      font-size: 16px; }
    #gform_2 input::-moz-placeholder, #gform_2 textarea::-moz-placeholder {
      color: #171717;
      font-size: 16px; }
    #gform_2 input:-moz-placeholder, #gform_2 textarea:-moz-placeholder {
      color: #171717;
      font-size: 16px; }
    #gform_2 input:-ms-input-placeholder, #gform_2 textarea:-ms-input-placeholder {
      color: #171717;
      font-size: 16px; }
  #gform_2 input {
    height: 44px; }
  #gform_2 #gform_fields_2 {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    #gform_2 #gform_fields_2::after {
      clear: both;
      content: "";
      display: table; }
  #gform_2 #field_2_1,
  #gform_2 #field_2_2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-bottom: 2.5%; }
    #gform_2 #field_2_1:last-child,
    #gform_2 #field_2_2:last-child {
      margin-right: 0; }
  #gform_2 #field_2_2 {
    margin-right: 0; }
  #gform_2 #gform_submit_button_2 {
    display: inline-block;
    margin: 1em 0;
    border: 2px solid #ca0814;
    border-radius: 22px;
    color: #ca0814;
    background-color: transparent;
    font-size: 12pt;
    text-transform: uppercase;
    height: 44px;
    min-width: 190px;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif;
    letter-spacing: .5px; }
    @media (min-width: 768px) {
      #gform_2 #gform_submit_button_2 {
        margin: 2em 0;
        width: 33.3%; } }

/****************************
********  General  **********
****************************/
* {
  box-sizing: border-box; }

body {
  background-color: #efefef; }

#masthead {
  background-color: white; }

/****************************
***** Main Content **********
****************************/
#event_title {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px; }
  #event_title::after {
    clear: both;
    content: "";
    display: table; }

#events {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  #events::after {
    clear: both;
    content: "";
    display: table; }
  #events:after {
    content: '';
    -ms-flex: auto;
        flex: auto; }
  #events .event-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 1em;
    background-color: white;
    margin-bottom: 1em;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15); }
    @media (min-width: 768px) {
      #events .event-item {
        -ms-flex-preferred-size: 49%;
            flex-basis: 49%;
        margin: .5%; } }
    @media (min-width: 960px) {
      #events .event-item {
        -ms-flex-preferred-size: 32.3%;
            flex-basis: 32.3%; } }
  #events .event_info-date {
    color: #ca0814;
    font-size: 30px;
    font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif;
    margin: 0; }
  #events .event_info-title {
    font-family: "HelveticaNeueW01-77BdCn 692722", arial, sans-serif; }
  #events .event_info-desc {
    -ms-flex: 1;
        flex: 1; }
