/****************************
********  General  **********
****************************/

*, *::after, *::before {
    box-sizing: border-box;
}

html, body, section, article, div, span{
    margin: 0;
    padding: 0;
}

html{
    font-family: $font;
    color: $darkgray;

    h1{
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    p{
        font-size: 16px;
        line-height: 1.5em;
    }
    span{
        font-family: $font;
    }
}

h1, h2, h3, h4, h5, h6{font-family:$font-light-condensed;}

section{
    position: relative;

}

article{
    position: relative;
    @include outer-container(1280px);
}

img{
    max-width: 500px;
    height: auto;
}


.wrap{
    @include outer-container(1280px);
}


/****************************
********  Links  **********
****************************/

body{
    @include linx($brightred, $brightred, $gray, $brightred);
    a{
        text-decoration: none;
    }
}
section{
    p a{
        text-decoration: underline;
        font-size: 16px;
    }
}

/****************************
*******   Components  *******
****************************/

%btn-base{
    display: inline-block;
    border: 2px solid white;
    border-radius: 22px;
    font:{
        size: 12pt;
    }
    text-transform: uppercase;
    height: 44px;
    min-width: 190px;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
}

body {
    a.btn{
        @extend %btn-base;
        color: white;
        font-family: $font-bold-condensed;
    }
    a.btn_red{
        @extend %btn-base;
        border: 2px solid $brightred;
        color: $brightred;
    }
}

/****************************
******* Forms ***************
****************************/

// @import '_forms';
