/****************************
********  General  **********
****************************/

*, *::after, *::before {
    box-sizing: border-box;
}

html, body, section, article, div, span{
    margin: 0;
    padding: 0;
}

html{
    font-family: $font;
    color: $darkgray;

    p{
        font-size: 13px;
        line-height: 1.5em;
    }
}

h1, h2, h3, h4, h5, h6{font-family:$font-light-condensed;}

section{
    position: relative;

}

article{
    position: relative;
    @include outer-container(1280px);
}

img{
    max-width: 500px;
    height: auto;
}


.wrap{
    @include outer-container(1280px);
}


/****************************
********  Links  **********
****************************/

body{
    @include linx($brightred, $brightred, $gray, $brightred);
    a{
        text-decoration: none;
    }
}


/****************************
*******   Components  *******
****************************/

%btn-base{
    border: 1px solid white;
    border-radius: 22px;
    font:{
        size: 12pt;
    }
    text-transform: uppercase;
    height: 44px;
    padding: 10px 30px;
    text-decoration: none;
}

body {
    a.btn{
        @extend %btn-base;
        color: white;
    }
    a.btn-red{
        @extend %btn-base;
        border: 1px solid $brightred;
        color: $brightred;
    }
}
