/****************************
********  General  **********
****************************/

*, *::after, *::before {
    box-sizing: border-box;
}

html, body, section, article, div, span{
    margin: 0;
    padding: 0;
}

html{
    font-family: $font;
    color: $darkgray;

    h1{
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    p{
        font-size: 16px;
        line-height: 1.5em;
    }
    span{
        font-family: $font;
    }
}

h1, h2, h3, h4, h5, h6{font-family:$font-light-condensed;}

section{
    position: relative;

}

article{
    position: relative;
    @include outer-container(1280px);
}

img{
    max-width: 500px;
    height: auto;
}


.wrap{
    @include outer-container(1280px);
}


/****************************
********  Links  **********
****************************/

body{
    @include linx($brightred, $brightred, $gray, $brightred);
    a{
        text-decoration: none;
    }
}

/****************************
*******   Components  *******
****************************/

%btn-base{
    display: inline-block;
    border: 1px solid white;
    border-radius: 22px;
    font:{
        size: 12pt;
    }
    text-transform: uppercase;
    height: 44px;
    min-width: 190px;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
}

body {
    a.btn{
        @extend %btn-base;
        color: white;
    }
    a.btn_red{
        @extend %btn-base;
        border: 1px solid $brightred;
        color: $brightred;
    }
}

/****************************
******* Forms ***************
****************************/

// Stay Connected Signup - Form 1
#gform_1{
    height: 35px;
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style-type: none;
            margin: 0;
        }
    }

    label{
        display: none;
    }

    .gform_body,
    .gform_footer{
        display: inline-block;
    }

    .gform_body{
        width: 85%;
    }

    #input_1_1{
        width: 100%;
        height: 35px;
        border: 2px solid darken($lightgray, 18%);
        padding-left: 1em;
        line-height: 1;
        float: left;
    }
    #gform_submit_button_1{
        width: 35px;
        height: auto;

        margin-left: 12px;
    }
}
