@import 'nav.scss';

.skip-link{
    position: absolute;
    top: -100px;
}

.dropdown-toggle{
    display: none;
}

.container{
    @include outer-container(1280px);

    @media (min-width:783px){
        padding: 0 12px;
    }

}

.nu-shared-navigation__lower{
    @media (min-width:783px){
        height: 76px;
    }

}

#logo{
    position: relative;
    z-index: 100;
}

#nu-alumni-blog-navigation{
    padding: 0;

    @media (min-width:783px){
        display: flex!important;
        flex-direction: row!important;
        justify-content: flex-end;
    }
}
.nu-shared-navigation__menu{
    a span{
        @media (min-width:783px) and (max-width:869px){
            font-size: 13px;
        }
        @media (min-width:870px){
            font-size: 15px;
        }
    }
}

.nu-shared-navigation__upper{
    padding-bottom: 0;
}


.nu-shared-navigation__alumni-logo--mobile,
.nu-shared-navigation__search-profile-links{
    @include linx(white, white, white, white);
    margin: 0;
    padding: 6px;
}
.nu-shared-navigation__alumni-logo--mobile{
    padding: 8px;
    a{
        margin: 0!important;
        font-family: $font-light-condensed;

    }
}
