/****************************
***** Sidebar ***************
****************************/
aside{
    .event_info h3{
        position: relative;
        background-color: $darkred;
        color: white;
        margin: 0;
        padding: .5em .5em .5em 1em;
        width: 85%;
        font-family: $font-bold-condensed;
        letter-spacing: 1px;

        text-transform: uppercase;
        @include tablet{
            width: 80%;
        }

        @include desktop{
            width: 70%;
        }

        &:after{
            content: '';
            position: absolute;
            top: 0;
            right: -30px;
            bottom: 0;
            width: 0;
            height: 100%;
            border-style: solid;
            border-width: 40px 0 0 30px;
            border-color: transparent transparent transparent $darkred;

        }
    }

    .connect{

        h4,p{
            margin: 0;
            text-align: center;
        }

        h4{
            font:{
                family: $font-bold-condensed;
                size: 24px;
            }
            letter-spacing: 1px;
        }

        .alumni_community,
        .career_first{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2em 4.5em;
            margin-bottom: 1em;
        }

        .alumni_community{
            background-color: $yellow;
        }

        .career_first{
            background-color: $green;
        }

        .btn_wrap{
            margin-top: 32px;
            text-align: center;
            min-width: 234px;
        }

        .btn{
            color: $black;
            border: 2px solid $black;

        }
    }
}

.event_info{
    .event_info-item{
        width: 100%;
        border-bottom: 1px solid white;
        padding: 1em 2em;

        @include tablet{
            padding: .5em 1em;
        }
        @include desktop{
            padding: .5em 2em 30px;
        }

        p{
            margin-top: 0;
        }
    }

    .event_info-date{
        color: $darkred;
        font:{
            size: 30px;
            family: $font-bold-condensed;
        }
        margin: 0;
    }

    .event_info-title{
        font-family: $font-bold-condensed;
    }

    .event_info-desc{
        margin-bottom: 30px;
    }
}

.facebook_connect{
    width: 100%;
    padding: 1em 2em;

    @include tablet{
        padding: 1em;
    }
    @include desktop{
        padding: 2em;
    }

    .facebook_connect-wrap{
        @include outer-container();
    }

    svg{
        max-width: 45px;
        height: auto;
        // float: left;
        margin-right: 1em;

        @include span-columns(3);
    }
    p{
        margin: 0 0 33px;
        line-height: 1.2;
        @include span-columns(9);
    }

    .btn_wrap{
        margin-bottom: 7px;
        text-align: center;
    }
}


.signups{
    @include outer-container(1280px);
    display: flex;
    flex-direction: column;

    @include tablet{
        flex-direction: row;
    }


    .stay_connected,
    .contribute{
        margin: 1em .5em;
        padding: 1em;

        @include tablet{
            flex-basis: 50%;
            padding: 2em;

        }
    }

    .stay_connected{
        background-color: $lightgray;

        h3{
            font-family: $font-light;
        }
    }

    .contribute{
        background-color: $brightred;
        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop{
            flex-direction: row;
        }

        @include tablet{
            div{

                &:first-child{
                    @include tablet{
                        flex-basis: 55%;
                    }
                }

                &:last-child{
                    @include tablet{
                        flex-basis: 45%;
                        text-align: center;
                    }
                }
            }
        }

        h3{
            font:{
                family: $font-bold-condensed;
            }
        }
    }
}
